@model DBL.Entities.Companyvehicles
@{ 
    var vehiclemake = ViewData["Vehiclemakeslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Add Vehicle</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Addvehicle" asp-controller="Customers" method="post">
    <div class="modal-body">
        <div class="row">
            <input asp-for="Custcode" hidden />
        </div>
        <div class="row m-2">
                <div class="col-sm-6">
                    <label asp-for="Regno"></label>
                    <input asp-for="Regno" class="form-control form-control-sm" />
                    <span asp-validation-for="Regno" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Capacity"></label>
                    <input asp-for="Capacity" class="form-control form-control-sm" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-6">
                    <label asp-for="Fueltype"></label>
                    <input asp-for="Fueltype" class="form-control form-control-sm" />
                    <span asp-validation-for="Fueltype" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Enginesize"></label>
                    <input asp-for="Enginesize" class="form-control form-control-sm" />
                    <span asp-validation-for="Enginesize" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-6">
                    <label asp-for="Chasno"></label>
                    <input asp-for="Chasno" class="form-control form-control-sm" />
                    <span asp-validation-for="Chasno" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Makecode"></label>
                    <select asp-for="Makecode" class="form-control form-control-sm" id="Prodsubcategory" asp-items="@vehiclemake">
                        <option value="0">---Select Type---</option>
                    </select>
                    <span asp-validation-for="Makecode" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>