@model DBL.Entities.Assigncardata
@{
    var availablecars = ViewData["Availablevehicleslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Assign Customer Vehicle</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input asp-for="Custcode" id="Custcode" hidden />
    </div>
    <div class="row m-2">
        <div class="col-sm-6">
            <label asp-for="Vehiclecode" class="font-weight-light"></label>
            <select asp-for="Vehiclecode" class="form-control form-control-sm" id="Vehiclecode" asp-items="@availablecars">
                <option value="0">---Select Vehicle---</option>
            </select>
            <span asp-validation-for="Vehiclecode" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Whereto" class="font-weight-light"></label>
            <input asp-for="Whereto" id="Whereto" class="form-control form-control-sm" />
            <span asp-validation-for="Whereto" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12">
            <label asp-for="Wheretodescription" class="font-weight-light"></label>
            <textarea asp-for="Wheretodescription" id="Wheretodescription" class="form-control form-control-sm"></textarea>
            <span asp-validation-for="Wheretodescription" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-4">
            <label asp-for="Startdate" class="font-weight-light"></label>
            <input asp-for="Startdate" id="Startdate" type="date" class="form-control form-control-sm" />
            <span asp-validation-for="Startdate" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="Hiredays" class="font-weight-light"></label>
            <input asp-for="Hiredays" id="Hiredays" type="number" class="form-control form-control-sm" />
            <span asp-validation-for="Hiredays" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-4">
            <input asp-for="Hascarwash" id="Hascarwash" type="checkbox" />
            <label asp-for="Hascarwash" class="font-weight-light"></label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-sm btn-info" onclick="Assignvehicle()" value="Assign">
</div>