@model DBL.Entities.Supportcustomers
@{
    var relationdata = ViewData["Relationlists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Update Customer Owner</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Editnextofkincustomer" asp-controller="Customers" method="post">
    <div class="modal-body">
        <div class="row">
            <input asp-for="Custcode" hidden />
            <input asp-for="Supcustcode" hidden />
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <label asp-for="Fullname"></label>
                <input asp-for="Fullname" class="form-control form-control-sm" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <label asp-for="Phonenumber"></label>
                <input asp-for="Phonenumber" class="form-control form-control-sm" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <label asp-for="Idnumber"></label>
                <input asp-for="Idnumber" class="form-control form-control-sm" />
                <span asp-validation-for="Idnumber" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <label asp-for="Relation"></label>
                <select asp-for="Relation" class="form-control form-control-sm" id="Prodsubcategory" asp-items="@relationdata">
                    <option value="0">---Select Relation---</option>
                </select>
                <span asp-validation-for="Relation" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Update">
    </div>
</form>