@model DBL.Entities.Extendvehicle
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Vehicle Type Hire Terms</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Extendvehicle" asp-controller="Customers" method="post">
    <div class="modal-body">
        <div class="row m-2">
            <div class="col-sm-12">
                <input asp-for="Assigncode" hidden class="form-control" />
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <label asp-for="Expecteddate"></label>
                <input asp-for="Expecteddate" class="form-control form-control-sm" readonly/>
            </div>
            <div class="col-sm-6">
                <label asp-for="Days"></label>
                <input asp-for="Days" class="form-control  form-control-sm" type="number" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Extend">
    </div>
</form>