@model DBL.Entities.Vehicletrippayments
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Trip Payment</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Payvehicle" asp-controller="Customers" method="post" onsubmit="return payvehicleformvalidation();" onchange="return payvehicleformvalidation();">
    <div class="modal-body">
        <div class="row m-2">
            <div class="col-sm-12">
                <input asp-for="Assigncode" hidden class="form-control" />
            </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-6">
                <label asp-for="Tripamount"></label>
                <input asp-for="Tripamount" class="form-control form-control-sm" readonly type="number" />
            </div>
            <div class="col-sm-6">
                <label asp-for="Tripbalance"></label>
                <input asp-for="Tripbalance" class="form-control  form-control-sm" readonly type="number" />
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-6">
            <label asp-for="Paidamount"></label>
            <input asp-for="Paidamount" class="form-control form-control-sm" type="number" id="paidamount"/>
        </div>
        <div class="col-sm-6">
            <label asp-for="Paidby"></label>
            <input asp-for="Paidby" class="form-control form-control-sm" id="paidby" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" onclick="payvehicleformvalidation()" value="Pay">
    </div>
</form>