
@{
    ViewData["Title"] = "Addvehicleowner";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label></label>
                        <input class="form-control"/>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>