@model IEnumerable<DBL.Models.ViewcompanyVehicletypes>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-bottom-0" style="background-color: #205B79;max-height:2.0rem">
                        <h6 class="text-white text-center font-weight-bolder text-uppercase mb-3">Who we are?</h6>
                    </div>
                    <div class="card-body">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-bottom-0" style="background-color: #205B79;max-height:2.0rem">
                        <h6 class="text-white text-center text-uppercase mb-3">Why Hire with Us?</h6>
                    </div>
                    <div class="card-body">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-bottom-0" style="background-color: #205B79;max-height:2.0rem">
                        <h6 class="text-white text-center text-uppercase mb-3">Why Lease with us?</h6>
                    </div>
                    <div class="card-body">-->
                    @*<p>We are registered Car hire and logistic company, with well outlined structure and agreement<br /> 
                       We guarantee the safety of your vehicle when it's on our hands<br />
                       Timely Payments, we offer lease agreement payment on time as per the agreement.
                        </p>*@
                    <!--</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 text-center">
        <p class="text-uppercase font-weight-bolder text-decoration-underline" style="color: #205B79">Available Fleets</p>
    </div>
</div>-->

<div class="row mt-2">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <img src="@Url.Content(item.Imagepath)" class="card-img-top" />
                        <div class="card-body bg-light">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="text-sm text-black">
                                        <tbody>
                                            <tr><td class="text-uppercase text-sm"><b>@item.Typename @item.Capacity</b></td></tr>
                                            <tr class="text-center text-decoration-underline">
                                                <td><h6>Days and Prices</h6></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Mon - Thurs: Ksh.@item.Mondayprice.ToString("#,##0.00")</b><br />
                                                    <b>Fri - Sun: Ksh.@item.Fridayprice.ToString("#,##0.00")</b><br />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


