@model DBL.Entities.Vehiclemodels
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Vehicle Model</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Addvehiclehiredays" asp-controller="Maintenance" method="post">
    <div class="modal-body">
        <div class="row m-2">
            <div class="col-sm-12">
                <label asp-for="Modelname"></label>
                <input asp-for="Modelname" class="form-control" />
                <span asp-validation-for="Modelname" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </div>
</form>