@model DBL.Entities.Sleeqcars
@{
    ViewData["Title"] = "Addsleeqcar";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6>Company Vehicle Details</h6>
            </div>
            <form asp-action="Addsleeqcar" asp-controller="Maintenance" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Sleeqcar"></label>
                                <input asp-for="Sleeqcar" class="form-control" />
                                <span asp-validation-for="Sleeqcar" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Seaters"></label>
                                <input asp-for="Seaters" class="form-control" />
                                <span asp-validation-for="Seaters" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Vehicleimage"></label>
                                <input asp-for="Vehicleimage" type="file" />
                                <span asp-validation-for="Vehicleimage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Fueltype"></label>
                                <input asp-for="Fueltype" class="form-control" />
                                <span asp-validation-for="Fueltype" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Enginesize"></label>
                                <input asp-for="Enginesize" class="form-control" />
                                <span asp-validation-for="Enginesize" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="VehicleColor"></label>
                                <input asp-for="VehicleColor" class="form-control" />
                                <span asp-validation-for="VehicleColor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">
                            <input type="submit" value="Submit" class="btn btn-info btn-block text-white" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

