@model IEnumerable<DBL.Entities.Sleeqcars>
@{
    ViewData["Title"] = "Companyvehicles";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row float-right text-end">
                    <a href="@Url.Action("Addsleeqcar","Maintenance")" class="btn btn-sm btn-info text-white fw-bold text-end">Add Company Vehicles</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm text-nowrap" id="Sleeqvehiclesdatatable">
                    <thead>
                        <tr>
                            <th>Vehicle name</th>
                            <th>Vehicle name</th>
                            <th>Vehicle name</th>
                            <th>Vehicle name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@Url.Content(item.Sleeqcarimage)" height="60" width="60" /></td>
                                <td>@item.Sleeqcar</td>
                                <td></td>
                                <td><a href="@Url.Action("CompanyvehicleDetails","Maintenance",new {Vehiclecode=item.Sleeqcarcode })" class="btn btn-info">Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Datatable/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Datatable/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#Sleeqvehiclesdatatable').DataTable();
        });
    </script>
}
