@model IEnumerable<DBL.Entities.Sleeqcars>
@{
    ViewData["Title"] = "Companyvehicles";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row float-right text-end">
                    <a href="@Url.Action("Addsleeqcar","Maintenance")" class="btn btn-sm btn-info text-white fw-bold text-end">Add Company Vehicles</a>
                </div>
            </div>
            <div class="card-body table-responsive-sm">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light table-sm" id="Sleeqvehiclesdatatable">
                    <thead>
                        <tr>
                            <th class="font-weight-lighter">Vehicle name</th>
                            <th class="font-weight-lighter">Vehicle name</th>
                            <th class="font-weight-lighter">Vehicle name</th>
                            <th class="font-weight-lighter">Vehicle name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@Url.Content(item.Sleeqcarimage)" height="60" width="60" /></td>
                                <td>@item.Sleeqcar</td>
                                <td></td>
                                <td><a href="@Url.Action("CompanyvehicleDetails","Maintenance",new {Vehiclecode=item.Sleeqcarcode })" class="btn btn-info">Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#Sleeqvehiclesdatatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
