@model DBL.Entities.Changepassword
<div class="modal-header">
    <h5 class="text-sm modal-title" id="allpoliciesModalLabel">Change Password Details</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Changepassword" asp-controller="Account" method="post">
    <div class="modal-body">
        <div>
            <input asp-for="UserCode" hidden />
        </div>
        <div class="row m-2">
            <div class="col-sm-12">
                <label asp-for="Newpassword"></label>
                <input asp-for="Newpassword" class="form-control form-control-sm" />
                <span asp-validation-for="Newpassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-sm btn-info" value="Change">
    </div>
</form>